@charset "utf-8";
/* CSS Document */
.contact-box:hover,
.member-box:hover{
    background: rgba(255,255,255,0.12);
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.5);
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    cursor: pointer; 
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.contact-box:hover{
    cursor: auto;
}
#my-page .form-control:hover{
    background: rgba(0,0,0,0.25);
    z-index: 1;
}
.html5buttons a:hover{
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.directory .panel-heading:hover .panel-title a:first-child{
    color: #19d873 !important;
}
.member-box .contact-box:hover{
    background: none;
    box-shadow: none;
    cursor: auto;
}

/*========================================*/
.contact-icon{
    text-align: center;
    margin-top: 5px;
}
.contact-icon a {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}
.contact-icon a:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.contact-icon a:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}
.contact-icon a:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
/*========================================*/

/*==================================Hover==================================*/
.member-box > div,
.btn,
.nav-tabs li,
.directory .panel-group .panel-heading,
ul.result li,
#menu-select-tab li,
.noti{
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.member-box > div{
    margin-top: 2px;
}
/*************************************/
.member-box > div:before,
.nav-tabs li:before,
.directory .panel-group .panel-heading:before,
ul.result li:before{
    content: "";
    width: 4px;
    display: block;
    height: 100%;
    background: rgba(0 ,0 ,0 ,0.25);
    position: absolute;
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.member-box > div:hover:before,
.nav-tabs li:hover:before,/*******mytab-document nav**********/
.nav-tabs li.active:before,/*******mytab-document nav**********/
.directory .panel-group .panel-heading:hover:before,
ul.result li:hover:before,
.sidebarleft-nav li:hover:before{
     -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
     width: 100%;
}
.directory .panel-group .panel-heading:before{
    height: 40px;
    z-index: -1;
    left: 0;
    margin-top: -12px;
}
ul.result li:before{
    height: 27px;
    z-index: -1;
}
/****************Menu Top Tabs*********************/
.topmenu ul > li{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.topmenu ul > li a{
    padding: 5px 15px;
}
.topmenu ul > li:before{
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border-radius: 15px;
    background: #5FCCF5;
    position: absolute;
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.topmenu ul > li.active:before,
.topmenu ul > li:hover:before{
    width: 100%;
}
/****************Menu Select Tabs*********************/
#menu-select-tab li{
    padding: 10px 15px;
}
#menu-select-tab li a{
    padding: 0;
    position: relative;
}
#menu-select-tab li a:after{
    content: '';
    height: 1px;
    width: 0;
    bottom: -5px;
    display: block;
    background: #5FCCF5 ;
    position: absolute;
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
#menu-select-tab li.active a:after,
#menu-select-tab li:hover a:after{
    width: 100%;
}
/*****************Hover Button*******************/
.btn{
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.btn-mirror:before{
    content: "";
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
    z-index: -1;
    position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.btn-mirror:hover,
.btn-mirror:active,
.btn-mirror:focus,
.btn-mirror:visited{
	color: #888 !important;
}
.btn-mirror:hover:before {
	height: 550%;
	opacity: 1;
}
.btn-mirror.dropdown-toggle:hover:before {
	height: 400%;
}
.btn-mirror:active:before {
	height: 600%;
	opacity: 1;
}
#loadMore:hover:before
{
    height: 200%;
}
.directory-select .btn-mirror:hover:before
{
    height: 175%;
}
.send-email:hover:before,
.btn-request:hover:before{
    height: 255%;
}
/*************************************/
.mb .dropdown-menu li:before,
.profile .dropdown-menu li:before{
    background: transparent;
    z-index: -1;
}
.profile .dropdown-menu li:hover,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    background-color: #2e6da4;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    border: 1px solid #2e6da4;
}
/*****************Hover workspace icon********************/
.circle a{
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    display: inline-block;
    color: #fff;
     -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,1);
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.circle a:before {
	speak: none;
	font-size: 30px;
	line-height: 75px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.circle a:hover {
	background: rgba(255,255,255,1);
	color: #1B3E93 !important;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}
.circle a:hover:before {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
/*==================================Btn FeedBack==================================*/
.feedback{
    z-index: 1000;
    position: fixed;
    bottom: 5%;
    right: 0;
    overflow: hidden;
}
.btn-feedback {
    background: #f06060;
	color: #fff;
/*
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 6px #ab3c3c;
*/
    border-radius: 6px 0 0 0;
    border-bottom: solid 5px #cb4e4e;
    display: block;
    font-size: 16px;
    width: 40px;
    padding: 6px 0 5px;
    text-align: center;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-feedback span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.8s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.8s;
	-moz-backface-visibility: hidden;
	transition: all 0.8s;
	backface-visibility: hidden;
}
.btn-feedback:before {
    content: "Feedback";
    font-style: italic;
	position: absolute;
	height: 100%;
	width: 100%;
    left: -200%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-feedback:hover{
    width: 120px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-feedback:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}
.btn-feedback:hover:before {
	left: 0;
}