@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import "../css/leftmenu.css";
@import "../css/CustomScrollbar.css";
@import "../css/datatables.min.css";
@charset "utf-8";
/* CSS Document */

/*
*{
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
*/
/**********************Flex********************/
.flex{
	display: flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    -webkit-flex-wrap: wrap; 
	flex-wrap: wrap;
}
.flex-inline{
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
}
.flex-center {
	-webkit-justify-content: center; 
	justify-content:center;
}
.flex-between {
	-webkit-justify-content: space-between; 
	justify-content:space-between;
}
.flex-around {
	-webkit-justify-content: space-around; 
	justify-content: space-around;
}
.flex-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.flex-vertical {
	-webkit-align-items: flex-end; 
	align-items:flex-end;
}
.flex-ver-baseline{
    -webkit-align-items: baseline;
    align-items: baseline;
}
.flex-ver-center{
    -webkit-align-items: center;
    align-items: center;
}
.inline-block{
	display: inline-block;
}
.clear{
	clear: both;
	display: block;
}
.pc{
    display: block;
}
.mb{
    display: none;
}
/**********************Text********************/
body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/background/bg.jpg) fixed no-repeat;
    background-size: cover;
    background-position: right bottom;
}
#page-content-wrapper {
    width: 100%;
    padding: 15px;
    color: #fff;
}
#page-content-wrapper a{
    color: #fff;
    text-decoration: none;
}
#page-content-wrapper .nav-tabs > li.active > a{
    background: transparent;
    border: 1px solid transparent
}
#page-content-wrapper .nav-pills > li.active > a,
#page-content-wrapper .nav > li > a:hover, 
#page-content-wrapper .nav > li > a:focus,
#page-content-wrapper .nav > li.active > a,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
/*    background: rgba(0,0,0,0.2);*/
    background: transparent;
}
#page-content-wrapper .nav-tabs > li > a:hover{
    border: 1px solid transparent;
}
.warp-content{
    margin-bottom: 30px;
    position: relative;
}
.warp-content > .tab-content.flex{
    margin-top: 50px;
}
.nopadding{
    padding: 0!important;
}
.nomargin{
    margin: 0 !important;
}
.jumpo{
    margin-top: 0px;
}
.topmenu{
/*    position: relative;*/
    position: fixed;
    padding-left:5em;
    z-index: 3;
    background: url(../images/background/bg.jpg) fixed no-repeat;
    background-size: cover;
    background-position: right bottom;
}
.profile{
    position: absolute;
    top: 0px;
    right: 30px;
}
.index-left{
    margin-top: 105px;   
}
.news-events.index-left,
.corporate-tab.index-left{
    margin-top: 60px;
}
.index-right{
    margin-top: 150px;
}
.mCSB_inside > .mCSB_container{
    transition-delay: initial;
    -webkit-transition: initial;
}
.slidebarlef-bg{
    position: inherit;
}
.empoly-content:not(:first-child):before,
.system-content .panel .panel-heading:after,
.member-box:not(:last-child):after{
    content: "";
    height: 1px;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background:  -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background:  -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background:  -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background:  -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-bottom: 1em;
}
.jumpo .nav-tabs > li > a{
    border-radius: 0;
}
.dropdown-menu{
    background-color: #0555d0;
}
#menu-select-tab{
    font-style: italic;
}
/*==================================Workspace==================================*/
.workspace{
    margin-top: 100px;
/*    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}
.workspace li p{
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: .9em
}
.circle{
    height: 130px;
    text-align: center;
}
.circle a{
    border: 1px solid #fff;
    color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    font-size: 30px;
    line-height: 72px;
    display: block;
    margin: auto;
    text-decoration: none;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    margin-bottom: 10px;
     -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    position: relative;
}
.contact-box:hover,
.member-box:hover{
    background: rgba(255,255,255,0.12);
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.5);
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    cursor: pointer; 
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.noti{
    background: #1B3E93;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 0;
}
/*==================================Corporate==================================*/
.tab-pane img{
    width: 100%;
}
/*================Document Control System Tab================*/
.system-content{
    background: rgba(0, 0 ,0 ,0.2);
    min-height: 687px;
}
.system-content .panel{
    background: transparent;
    border: none;
}
.system-content .panel .panel-heading{
    background: transparent;
    border: none;
    padding: 0;
}
.system-content .panel .panel-heading a{
    display: block;
    padding: 10px 15px;
    color: #999999;
}
.system-content .panel .panel-heading:after{
    margin-bottom: 0;
}
.system-nav{
    border-bottom: none;
}
/*
.system-nav > li,
.my-page-nav > li{
    margin-right: -2px;
}
*/
.system-content .panel-group .panel-body{
    border: none !Important;
    padding-left: 1em;
}
.system-content .panel .panel-body ul{
    margin:0 0 0 1em;
}
/*==================================EVENT==================================*/
#news-events-ne,
#news-events-vacancies,
.my-page-content,
#employees>div{
    background: rgba(0,0,0,0.2);
    padding-bottom: 1em;
    margin-bottom: 1em;
}
#loadMore,
#loadMore-event{
    margin: 0.5em 0;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 17px;
}
.event-tab-content{
    overflow-y: overlay;
}
.event-img{
    margin-right: 1em;
}
.event-img img{
    width: 100%;
}
.event-content,
.empoly-content{
    margin-bottom: .8em;
    display: none;
}
.event-content p{
    font-size: .9em;
}
.event-title a{
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    display: block;
}
.event-date{
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}
/*==================================Employees==================================*/
.icon-user{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    background: red;
    margin-right: 1em;
}
.icon-sm{
    padding: 5px;
    margin-left: 0.2em;
    border-radius: 100%;
    background: green;
}
.employ-title{
    font-size: .9em;
    font-weight: bold;
}
.employ-title-sub{
    font-size: .8em;
}
.empoly-content{
    margin-bottom: 0;
}
.empoly-content:first-child{
    margin-top: 0.5em!important;
}
.empoly-content .flex span:nth-child(2){
    width: 82%;
}
.wel-board-icon-nav{
    width: 100px;
    text-align: right;
}
/*==================================My Page==================================*/
.my-page-nav{
    border-bottom: none;
}
.my-page-content{
    min-height: 214px;
    padding-top: 1em;
}
.my-page-content form label{
    width: 100px;
}
.my-page-content form .input-group-addon{
    background: transparent;
    border: none;
    padding: 0;
}
.my-page-content form .input-group-addon a{
    padding: 6px 12px;
}
#my-page .form-control{
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
}
#my-page .form-control:hover{
    background: rgba(0,0,0,0.2);
    z-index: 1
}
.my-page-profile span.glyphicon-user{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: red;
    font-size: 5em;
    line-height: 110px;
    text-align: center;
    margin-bottom: 20px;
    z-index: 2;
}
.my-page-profile .input-group-addon{
    width: 0px;
    border: none;
    background: transparent;
}
#leave-record .table .glyphicon-open{
    color: #dbdd22;
}
#leave-record .table .glyphicon-ok,
#leave-record .table .glyphicon-saved{
    color: #19d873;
}
#leave-record .table .glyphicon-remove,
#leave-record .table .glyphicon-repeat{
    color: #ea3b28;
}
.my-page-profile > div{
    padding-top: 40px;
}
/*==================================Position==================================*/
.position-list{
    margin-top: 4em;
}
.pagination > li > a, .pagination > li > span{
    background: transparent;
}
.paginate_button.disabled a{
    background: transparent;
}
.position-list .dataTables_wrapper{
    margin-top: 2em;
}
#position-table select{
    background: transparent;
    width: 100%;
}
#position-table select option{
    background: #0555d0;
}
/***************************** Data Tables ******************************/
.html5buttons {
    float: right;
    margin-left: 1em;
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.html5buttons a{
    height: 30px;
    line-height: 28px;
    padding: 0 12px;
    background: transparent;
    border: none;
    text-shadow: none;
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.html5buttons a:hover{
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.dataTables_length{
    float: left;
}
.dataTables_length select,
.dataTables_filter input{
    background: rgba(0, 0, 0, 0.25);
    border: none;
    color: #fff;
     -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.dataTables_length label,
.dataTables_filter label{
    padding:0 0.7em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.dataTables_filter label{
    padding-right: 0;
}
.dataTables_filter input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*==================================Modal==================================*/
.modal-content,
.modal-content a,
.modal-content p,
.modal-content i{
    color: #333 !important;
}
.modal-header{
    color: #1B3E93;
}
.modal-content .form-control{
/*    box-shadow: 0 2px #ccc !important;*/
    color: #000 !important;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc !important;
}
.modal-content .form-control:focus,
.modal-content .form-control:hover{
  box-shadow: 0 0 5px rgba(92, 188, 246, 1) !important;
  border: 1px solid rgba(92, 188, 246, 1) !important;
  background: transparent!important;
}
.modal-content .contact-box p{
    font-size: 1em;
}      
.modal-content .contact-box p .fa-phone{
    font-size: 16px;
}
.modal-content .contact-box p .fa-mobile{
    font-size: 20px;
}
/*==================================Org Chart ==================================*/
.orgchart{
    margin: 1em -15px 0  0;
}
.orgchart .panel-group,
.orgchart .panel,
.orgchart .panel-group .panel-heading + .panel-collapse > .panel-body, 
.orgchart .panel-group .panel-heading + .panel-collapse > .list-group{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.orgchart .panel-body{
    margin-top: 10px !important;
    margin-left: 30px !important;
}
.chart{
    width: auto;
    position: relative;
    border-radius: 3px;
    color: #333;
    display: block;
    padding: 10px 0 10px 25px;
    background: #3C78D8;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.chart:hover,
.chart:focus{
    text-decoration: none;
}
.lv2{
    background: #02efef;
    color: #000 !important;
}
.lv3{
    background: #1e8427;
}
/***************************** Chart ******************************/
.orgchart > .panel-group > .panel .panel{
    margin-bottom: 10px;
}
.orgchart > .panel-group > .panel:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 60%;
    background:#fff;
    left: 5px;
    top: 70px;
    right: auto;
    bottom: 20px;
}
.chartoutside .orgchart > .panel-group > .panel:before{
    content: "";
    height: 85%;
    left: 35px;
    top: 135px;
}
.lv2:before,
.lv2:after,
.lv3:before,
.lv3:after{
    content: "";
    position: absolute;
    height: 2px;
    display: block; 
}

.lv2:before,
.lv3:before{
    width: 50px;
    height: 100%;
    border-top: 2px solid #fff;
    z-index: -1;
    left: -40px;
    top: 50%;
}
.lv2:after,
.lv3:after{
    border-left: 2px solid #fff;
    left: -40px;
    height: 220%;
    bottom: 50%;
}
.lv3:before,
.lv3:after{
    left: -20px;
    z-index: -1;
}
.chartoutside .panel-body .panel:nth-child(n+4) .lv2:after{
    height: 450%;
}
.orgchart .panel-body .panel:last-child .lv2:after{
    height: 1450%;
    border-left-color: #fff;
}
/*****************************End Chart******************************/
.chart-ava i{
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    border: 1px solid white;
    background: #1B3E93;
    color: #fff !important;
}
.chart-name{
    width: 100%;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}
.chart-position{
    width: 100%;
    font-weight: normal;
    width: 100%;
    font-size: 0.8em;
}
/*==================================Directory==================================*/
.directory,
.department{
    margin-top: 2em;
}
.directory a : hove{
    text-decoration: none;
}
.directory input[type=search],
.directory .input-group-addon,
.directory .panel-group .panel,
.directory .panel-heading,
.profile .btn,
.btn-mirror{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;
}
.directory .panel-heading:hover .panel-title a:first-child{
    color: #19d873 !important;
}
.directory .panel-group .panel,
.directory .panel-heading,
.directory .panel-body{
    border: none !important;
}
.directory-search,
.directory-select{
    height: 60px;
}
.directory-box{
    margin-bottom: 10px;
}
.contact-box {
    background-color: transparent;
    border: 1px solid #e7eaec;
    padding: 15px 0;
    margin-bottom: 20px;
    min-height: 192px;
}
.contact-box:hover{
    cursor: auto;
}
.contact-box h3{
    margin-top: 0;
}
.contact-box p{
    font-size: .8em;
    margin: 0;
}
.contact-img{
    position: relative;
}
.contact-img .img-circle{
    margin: auto;
}
.contact-img p{
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
}
/*========================================*/
.contact-icon{
    text-align: center;
    margin-top: 5px;
}
.contact-icon a {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}
.contact-icon a:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.contact-icon a:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}
.contact-icon a:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #0555d0, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
/*========================================*/
.contact-icon a .fa{
    font-size: 20px;
    line-height: 30px;
}
.contact-icon a:first-child{
    margin-right: 1em;
}
p.contact-position{
    font-size: 0.9em;
}
p.contact-position span{
    display: block;
    font-weight: bold;
}
p.contact-phone{
    margin-top: .5em;
}
.contact-box{
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out
}
.contact-box p .fa{
    width: 20px;
}
.contact-box p .fa-mobile{
    font-size: 16px;
}
.contact-box p .fa-phone{
    font-size: 12px;
}
.result-box{
    background: rgba(0,0,0,0.25);
    padding: 15px 0 10px;
    overflow: hidden;
}
ul.result li{
    padding-left: 1em;
}
ul.result a{
    display: block;
    font-size: 0.9em;
    padding: 0.5em .8em 0.4em;
}
.send-email{
    margin-top: 2em !important;
}
.title-result{
    padding: 0 40px 0 30px;
}
/*==================================Department==================================*/
.department .contact-box{
    border: none;
}
.facility p{
    margin: 0;
}
.map-local{
    height: 450px;
}
.introduction-info .col-sm-4 >div,
.introduction-info .col-sm-4 >p{
    padding-left: 1em;
}
.view-staff{
    margin-top: 55px;
}
.view-staff .btn{
    width: 100%;
}
.member-box:not(:first-child){
    padding-top: 1em;
}
.member-box:not(:last-child):after{
    margin-bottom: 0;
}
.member-box .contact-box{
    min-height: auto;
}
.member-box .contact-box:hover{
    background: none;
    box-shadow: none;
    cursor: auto;
}
.member-box h4{
    padding-left: 2em;
}
.department-select-center{
    margin-bottom: 3em;
}
.department-select-center .dropdown{
    display: inline-block;
}
.department-select-center .dropdown .dropdown-toggle{
    font-size: 20px;
    width: 250px;
}
.functions-box{
    padding-bottom: 1.5em;
}
.functions-box h5{
    padding-left: 1em;
}
.style-disc{
    list-style: disc;
}
.style-disc li span{
    margin-left: 3px;
    width: 45px;
}
.label-control{
    display: inline
}
.fuctions-note{
    margin-right: 1em;
}
.fuctions-note span{
    margin-left: 3px;
}
.no-control{
    background: transparent;
}
.no-control a{
    font-size: 0;
}
/*==================================Footer==================================*/
footer  a{
    left: 5%;
    bottom: 2em;
    position: fixed;
}
footer  a:after{
    display: block;
    content: "";
    background: #fff;
    width: 90%;
    height: 2px;
    margin-top: 0.7em;
    position: fixed;
    right: 5%;
    left: 5%;
}
/*==================================Hover==================================*/
.member-box > div,
.btn,
.nav-tabs li,
.directory .panel-group .panel-heading,
ul.result li,
#menu-select-tab li,
.topmenu li,
.noti{
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.member-box > div{
    margin-top: 2px;
}
/*************************************/
.member-box > div:before,
.nav-tabs li:before,
.directory .panel-group .panel-heading:before,
ul.result li:before,
#menu-select-tab li:before,
.topmenu li:before{
   content: "";
    width: 4px;
    display: block;
    height: 100%;
    background: rgba(0 ,0 ,0 ,0.25);
    position: absolute;
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.member-box > div:hover:before,
.nav-tabs li:hover:before,/*******mytab-document nav**********/
.nav-tabs li.active:before,/*******mytab-document nav**********/
.directory .panel-group .panel-heading:hover:before,
ul.result li:hover:before,
#menu-select-tab li:hover:before,
.topmenu li:hover:before,
.sidebarleft-nav li:hover:before{
     -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
     width: 100%;
}

.directory .panel-group .panel-heading:before{
    height: 40px;
    z-index: -1;
    left: 0;
    margin-top: -12px;
}
ul.result li:before{
    height: 27px;
    z-index: -1;
}
/*************************************/
.btn{
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.btn-mirror:before,
.circle a:after{
    content: "";
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
    z-index: -1;
    position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.btn-mirror:hover,
.btn-mirror:active,
.btn-mirror:focus,
.btn-mirror:visited{
	color: #888 !important;
}
.btn-mirror:hover:before {
	height: 550%;
	opacity: 1;
}
.btn-mirror.dropdown-toggle:hover:before {
	height: 400%;
}
.btn-mirror:active:before {
	height: 600%;
	opacity: 1;
}
#loadMore:hover:before
{
    height: 200%;
}
.directory-select .btn-mirror:hover:before
{
    height: 175%;
}
.send-email:hover:before,
.btn-request:hover:before{
    height: 255%;
}
/*************************************/
.circle a:after{
    content: "";
	width: 0;
	height: 0;
	background: rgba(255,255,255,0.12);
    border-radius: 100%;
}
.circle a:hover{
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.5);
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
}
.circle a:hover .noti{
    background: green;
    -webkit-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
}
.circle a:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
}
/*************************************/
#menu-select-tab li:before,
.topmenu li:before{
    width: 0;
}
#menu-select-tab .active,
.topmenu .active{
    background: rgba(0 ,0 ,0 ,0.25);
}
#menu-select-tab .active:hover:before,
.topmenu .active:hover:before{
    width: 0;
}
.mb .dropdown-menu li:before,
.profile .dropdown-menu li:before{
    background: transparent;
    z-index: -1;
}
.profile .dropdown-menu li:hover,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    background-color: #2e6da4;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    border: 1px solid #2e6da4;
}
/*==================================Reponsive==================================*/
@media only screen and (max-width: 480px){
    .event-content > div{
        width: 100%;
    }
   .event-img{
    	width:100%;
    }
    .event-title{
        margin-top: .5em !important;
    }
    .empoly-content .flex span:nth-child(2) {
        width: 75%;
    }
    .empoly-content .flex span:nth-child(2) div:nth-child(2){
        width: 100%;
    }
    .wel-board-icon-nav{
        text-align: left;
        margin: 5px 0;
    }
/***********************************/
    #corporate,
    .system-content{
        min-height: 100px;
    }
    #corporate-principles .mb > div > div{
        width: 100% !important;
    }
/***********************************/
    .my-page-content{
        margin-bottom: 0;
    }
    .my-page-profile span.glyphicon-user {
        width: auto;
        height: 100%;
        font-size: 3em;
        padding: 20px;
        line-height: 1em;
        text-align: center;
    }
    .my-page-profile > div{
        padding-top: 20px !important;
    }
/***********************************/
    #leave-record{
        overflow: auto;
    }
/***********************************/ 
    .html5buttons {
        float: none;
        margin-top: 10px;
    }
    div.dt-buttons {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
    .dataTables_length {
        float: none;
    }
    .dataTables_info{
        font-size: .8em;
    }
    .position-list .child .child,
    .position-list .child ul{
        padding-left: 5px !important;
    }
    .position-list .child li{
        list-style: none;
    }
    .position-list .child span.dtr-title{
        font-weight: bold;
    }
     .directory .text-right{
        text-align: left;
    }
    .directory-select .text-right{
        text-align: right;
    }
/***********************************/
    .map-local{
        height: 300px
    }
    footer > div{
        margin:1em 2em ;
    }
}
@media only screen and (max-width: 768px){
    .slidebarleft-bg{
        display: block;
        background: url(../images/background/bg.jpg);
        position: fixed;
        top: 0;
        width: 100%;
        height: 42px;
        z-index: 997;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
    }
    .warp-content{
        margin-bottom: 0;
    }
    .workspace{
        margin-top: 4em;
    }
    .my-page-nav.mb{
        width: 100%;    
    }
    .my-page-nav.mb li.dropdown{
        margin-bottom: 0;
    }
    .my-page-content form .form-inline button{
        display: block;
        text-align: right;
    }
    .index-left{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .hamburger{
        top: 5px;
    }
    .topmenu{
        position: relative;
        padding-left: 10px;
        margin:3em -15px 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        z-index: inherit;
    }
    .topmenu ul li{
        width: 100%;
    }
    .profile{
        top:4px;
        right: 15px;
        z-index: 998;
        position: fixed;
    }
    .profile .dropdown-menu{
        right: 0;
        left: auto;
    }
    .index-left,
    .news-events.index-left,
    .corporate-tab.index-left{
        margin-top: 0;
    }
    .corporate-tab{
        background: rgba(0,0,0,0.2);
    }
    #menu-select-tab li.dropdown {
        margin-bottom: 0px;
    }
    .system-content{
        background: transparent;
    }
    .system-content .panel-group{
        margin-bottom: 0;
    }
    .system-content > div > .tab-pane{
        display: block !important;
    }
    .system-content > div > .tab-pane:not(:last-child):after,
    .directory-select:before{
        content: "";
        height: 1px;
        display: block;
        background: #333;
        background-image: linear-gradient(to right, #888, #fff, #888);
        background-image: -moz-linear-gradient(to right, #888, #fff, #888);
        background-image: -webkit-linear-gradient(to right, #888, #fff, #888);
        background-image: -ms-linear-gradient(to right, #888, #fff, #888);
        background-image: -o-linear-gradient(to right, #888, #fff, #888);
        
    }
    .values h3{
        background: linear-gradient(to right, #ed413e , #eb423e, #b84f46);
        padding: 5px 15px;
    }
    .vision h3{
        background: linear-gradient(to right, #f68e1f , #f38e21, #cf873d);
        padding: 5px 15px;
    }
    .misson h3{
        background: linear-gradient(to right, #b4d333 , #9ecb3b, #8aaa4c);
        padding: 5px 15px;
    }
    #corporate-principles .mb img{
        margin-top: 2em;
    }
    #corporate-principles .mb > div > div{
        text-align: justify;
    }
    .my-page-profile{
        margin-top: 1em;
    }
    .position-list,
    .directory,
    .department{
        margin-top: 0;
    }
    .contact-box{
        height: auto;
    }
    .contact-img{
        text-align: center;
        margin-bottom: 1em;
    }
    .contact-img img{
        display: inline-block;
    }
    .result-box .mCustomScrollbar{
        height: 210px !important;
    }
    .directory-search, .directory-select{
        height: auto;
        margin: 1em 0;
    }
    .directory-select:before{
        margin: 2em 0 1em;
    }
    .directory-select > div {
        padding-left: 0;
    }
    .mCSB_inside > .mCSB_container{
        margin-right: 1em;
    }
    .department .system-content{
        background: rgba(0, 0 ,0 ,0.2);
        padding-bottom: 1em;
    }
    img.img-responsive{
        max-width: 100%;
        width: auto;
    }
    .view-staff{
        margin-top: 0;
        margin-bottom: 1em;
    }
    .department .contact-box{
        margin-bottom: 0;
    }
    #members .member-box:nth-child(even){
        background: rgba(255,255,255,0.12);
        -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.5);
        box-shadow: 0 0 16px rgba(0,0,0,0.5);
        cursor: pointer;
        -webkit-transition: all .27s ease-in-out;
        transition: all .27s ease-in-out;
    }
    .member-box h4:after{
        content: "";
        height: 1px;
        display: block;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        background:  -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        background:  -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        background:  -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        background:  -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        margin-top: .5em;
    }
    .label-control{
        display: none;
    }
    .chartoutside center h3,
    .documentoutside center h3{
        margin-top: 2em;
    }
    footer{
       margin-top: 1em; 
    }
    footer >a ,
    footer > a:after{
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
@media only screen and (max-width: 767px){
    .pc{
        display: none;
    }
    .mb{
        display: block;
    }
}