/**, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }*/
/*
svg {
	pointer-events: none;
}
*/
/*****************Hover Coporate Principle********************/
.principle-svg,
.principle-svg g,
.principle-svg g:hover,
.principle-svg path,
.principle-svg path:hover,
.principle-svg text,
.principle-svg text:hover,
.values-text,
.vision-text,
.mission-text,
.values-text svg path,
.vision-text svg path,
.mission-text svg line,
.svg-values-hover,
.svg-vision-hover,
.svg-mission-hover,
.values,
.vision,
.mission{
    -webkit-transition: all .27s ease-in-out;
    -moz-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
     transition: all .27s ease-in-out;
}
.values,
.vision,
.mission{
    cursor: pointer;
}
.principle{
    position: relative;
}
.principle p{
    font-size: 0.9em;
}
.values-text{
    display: block;
    margin-top: 3.5%;
}
.values-text p{
    text-align: right;
}
.values-text svg,
.vision-text svg,
.mission-text svg{
    position: absolute;
    right: -75px;
    top: 10px;
    z-index: 1;
}
.values-text svg path,
.vision-text svg path,
.mission-text svg line{
     stroke: #fff; 
     fill: none;
     stroke-width: 2;
}
.vision-text{
    display: block;
    position: relative;
}
.vision-text svg{
    left: -105px;
}
.mission-text{
    margin-top: 180px;
}
.mission-text svg{
    top: 15%;
    left: -100px;
}
.principle-svg g:hover text{
    stroke: #fff;
    stroke-width: 2px;
}
.values path{
    fill: rgba(236,66,62,1);
}
.vision path{
    fill:#F78F21;
}
.mission path{
    fill:#AAD03A;
}
.values:hover path{
    fill: rgba(236,66,62,0.8);
    stroke: rgba(236,66,62,1);
    stroke-width: 2px;
}
.vision:hover path{
    fill: rgba(246,142,32,0.8);
    stroke: rgba(246,142,32,1);
    stroke-width: 2px;
}
.mission:hover path{
    fill: rgba(170,207,57,0.8);
    stroke: rgba(170,207,57,1);
    stroke-width: 2px;
}
.svg-values-hover{
    text-shadow : 0 0 24px #C00, 0 0 4px #C00, 1px 1px 2px #333;
}
.svg-vision-hover{
    text-shadow : 0 0 24px #F78F21, 0 0 4px #F78F21, 1px 1px 2px #333;
}
.svg-mission-hover{
    text-shadow : 0 0 24px #AAD03A, 0 0 4px #AAD03A, 1px 1px 2px #333;
}
/***************** Classical ********************/
.drawings {
	position: relative;
}
.illustration {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.show {
	opacity: 1;
}
.hide {
	opacity: 0;
}
.line-drawing,
.illustration {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;

}
.line-drawing path {
	fill: none;
	stroke: white;
/*    stroke: #5FCCF5;*/
	stroke-width: 1;
}
@media only screen and (max-width: 1200px){
    .values-text{
        margin-top: 7%;
    }
    .values-text svg,
    .vision-text svg{
        height: 40px;
    }
    .mission-text{
        margin-top: 160px;
    }
    .mission-text svg{
        width: 80px;
    }
}
@media only screen and (max-width: 992px){
    .values-text{
        margin-top: 5%;
    }
    .vision-text{
        margin-top: 35px;
    }
    .vision-text svg{
        width: 70px;
        margin-left: 30px;
    }
    .mission-text {
        margin-top: 40px;
    }
    .mission-text svg{
        width: 60px;
        left: -60px;
    }
}
